.navbar-brand img{
    width: 25%;
}
li>button{
    margin: 5px;
    height: 40px;
}
.registerr{
    background-color: rgb(145, 145, 229);
    border-radius: 20PX;
    
}
.registerr h6{
    color: white;
}
.adminn{
        background-color: black;
        color: white;
        border-radius: 20PX;
    }
.adminn h6{
    color: white;
}
li>button:focus{
    border: none;
    outline: none;
}
